<div class="container">
	
	<form method="post" action="sign-up">
    <p>sign up</p>
		Name: <input type="text" name="name" /><br>
		Password: <input type="password" name="password" /><br>
    <input type="submit" name="sign-up" value="sign-up"/>

	</form>

  <form method="post" action="sign-in">
    <p>sign in</p>
    Name: <input type="text" name="name" /><br>
    Password: <input type="password" name="password" /><br>
    <input type="submit" name="sign-in" value="sign-in"/>
  </form>
</div>